<h1 class="mat-h1">Configuration Dashboard</h1>

<button
    color="primary"
    mat-raised-button
    [disabled]="ruleList == null"
    (click)="createRule()">ADD RULE
</button>

<div
    class="wt-rule-card-list"
    fxLayout="column"
    fxLayoutAlign="start center">

    <div
        *ngFor="let rule of ruleList; let isFirstRule=first; trackBy:ruleTracker"
        class="wt-rule-card"
        @enterLeave
        [draggable]="!isFirstRule"
        (dragstart)="onRuleDragStart(rule)"
        (dragenter)="onRuleDragEnter(rule)"
        (dragleave)="onRuleDragLeave(rule)"
        (dragover)="$event.preventDefault()"
        (dragend)="onRuleDragEnd()"
        (drop)="onRuleDrop(rule, isFirstRule)">

        <mat-card
            [@dragged]="rule === draggedRule"
            [@draggedOver]="rule === draggedOverRule && rule !== draggedRule"
            [style.pointer-events]="draggedOverRule ? 'none' : null">

            <mat-card-header fxLayoutAlign="center">

                <mat-card-title>

                    <h2 *ngIf="isFirstRule">Default configuration</h2>

                    <ng-container *ngIf="!isFirstRule">

                        <button
                            aria-label="Toggle menu"
                            class="more-button"
                            mat-icon-button
                            [matMenuTriggerFor]="menu">
                            <mat-icon>more_vert</mat-icon>
                        </button>

                        <mat-menu #menu="matMenu" xPosition="before">
                            <button
                                mat-menu-item
                                (click)=removeRule(rule.id)>Remove
                            </button>
                        </mat-menu>

                    </ng-container>

                </mat-card-title>

            </mat-card-header>

            <mat-card-content class="dashboard-card-content">

                <wt-rule-form
                    [rule]="rule"
                    [shouldShowConditions]="!isFirstRule"
                    (ruleChange)="onRuleChange(rule.id, $event)"></wt-rule-form>

            </mat-card-content>

        </mat-card>

    </div>

</div>
