:host {
    display: block;
    padding: 20px;
}

.more-button {
    position: absolute;
    top: 5px;
    right: 10px;
}

.wt-link__container {
    font-size: 2em;
}

.wt-rule-card__list {
    perspective: 1000px;
}

.wt-rule-card__container {
    margin: 20px;
    max-width: 500px;
    width: 100%;
}

.wt-rule-card {
    padding: 0;
}
