<h1 class="mat-h1">Configuration Dashboard</h1>

<button
    color="primary"
    mat-raised-button
    (click)="createRule()">ADD RULE
</button>

<div
    fxLayout="column"
    fxLayoutAlign="start center">

    <mat-card
        *ngFor="let rule of ruleList; trackBy:ruleIdTracker"
        class="wt-rule-card">

        <mat-card-header>

            <mat-card-title>

                <button [matMenuTriggerFor]="menu" aria-label="Toggle menu" class="more-button" mat-icon-button>
                    <mat-icon>more_vert</mat-icon>
                </button>

                <mat-menu #menu="matMenu" xPosition="before">
                    <button
                        mat-menu-item
                        (click)=removeRule(rule.id)>Remove
                    </button>
                </mat-menu>

            </mat-card-title>

        </mat-card-header>

        <mat-card-content class="dashboard-card-content">

            <wt-rule-form
                [rule]="rule"
                (ruleChange)="onRuleChange(rule.id, $event)"></wt-rule-form>

        </mat-card-content>

    </mat-card>

</div>