<h1 class="mat-h1">Configuration Dashboard</h1>

<button
    color="primary"
    mat-raised-button
    [disabled]="ruleList == null"
    (click)="createRule()">ADD RULE
</button>

<div
    fxLayout="column"
    fxLayoutAlign="start center">

    <div
        *ngFor="let rule of ruleList; trackBy:ruleTracker"
        class="wt-rule-card"
        @enterLeave
        [@draggedOver]="rule === draggedOverRule && rule !== draggedRule"
        [@dragged]="rule === draggedRule"
        [draggable]="true"
        (dragstart)="onRuleDragStart(rule)"
        (dragenter)="onRuleDragEnter(rule)"
        (dragleave)="onRuleDragLeave(rule)"
        (dragover)="$event.preventDefault()"
        (dragend)="onRuleDragEnd()"
        (drop)="onRuleDrop(rule)">

        <mat-card [style.pointer-events]="draggedOverRule ? 'none' : null">

            <mat-card-header>

                <mat-card-title>

                    <button [matMenuTriggerFor]="menu" aria-label="Toggle menu" class="more-button" mat-icon-button>
                        <mat-icon>more_vert</mat-icon>
                    </button>

                    <mat-menu #menu="matMenu" xPosition="before">
                        <button
                            mat-menu-item
                            (click)=removeRule(rule.id)>Remove
                        </button>
                    </mat-menu>

                </mat-card-title>

            </mat-card-header>

            <mat-card-content class="dashboard-card-content">

                <wt-rule-form
                    [rule]="rule"
                    (ruleChange)="onRuleChange(rule.id, $event)"></wt-rule-form>

            </mat-card-content>

        </mat-card>

    </div>

</div>
