<wt-condition-form-container
    *ngIf="shouldShowConditions"
    (conditionChange)="onConditionChange($event)"
    [condition]="rule.condition"></wt-condition-form-container>

<mat-divider></mat-divider>

<mat-expansion-panel>

    <mat-expansion-panel-header>

        <mat-panel-title>
            Configuration
        </mat-panel-title>

    </mat-expansion-panel-header>

    <ng-template matExpansionPanelContent>

        <wt-configuration-form
            [configuration]="rule.configuration"
            [shouldShowInheritOption]="shouldShowInheritOption"
            (configurationChange)="onConfigurationChange($event)"></wt-configuration-form>

    </ng-template>


</mat-expansion-panel>
