<form [formGroup]="configurationForm">

    <div>
        <label>Conference list display mode</label>
        <mat-radio-group
            formControlName="conferenceListDisplayMode"
            fxLayout="row"
            fxLayoutAlign="space-around">
            <mat-radio-button value="v1">List V1</mat-radio-button>
            <mat-radio-button value="v2">List V2</mat-radio-button>
            <mat-radio-button value="grid">Grid</mat-radio-button>
        </mat-radio-group>
    </div>

</form>
