<form [formGroup]="configurationForm">

    <!-- Conference search display mode. -->
    <div class="wt-configuration__block">

        <h3>Conference search display mode</h3>

        <mat-radio-group
            formControlName="conferenceSearchDisplayMode"
            fxLayout="row"
            fxLayoutAlign="space-around">

            <mat-radio-button
                *ngIf="shouldShowInheritOption"
                [value]="null">Inherit
            </mat-radio-button>

            <mat-radio-button [value]="ConferenceSearchDisplayMode.Chips">Chips</mat-radio-button>
            <mat-radio-button [value]="ConferenceSearchDisplayMode.Links">Links</mat-radio-button>
            <mat-radio-button [value]="ConferenceSearchDisplayMode.Form">Form</mat-radio-button>

        </mat-radio-group>

    </div>

    <mat-divider></mat-divider>

    <!-- Conference list display mode. -->
    <div class="wt-configuration__block">

        <h3>Conference list display mode</h3>

        <mat-radio-group
            formControlName="conferenceListDisplayMode"
            fxLayout="row"
            fxLayoutAlign="space-around">

            <mat-radio-button
                *ngIf="shouldShowInheritOption"
                [value]="null">Inherit
            </mat-radio-button>

            <mat-radio-button [value]="ConferenceListDisplayMode.V1">List V1</mat-radio-button>
            <mat-radio-button [value]="ConferenceListDisplayMode.V2">List V2</mat-radio-button>
            <mat-radio-button [value]="ConferenceListDisplayMode.Table">Table</mat-radio-button>

        </mat-radio-group>

    </div>

    <mat-divider></mat-divider>

    <!-- Theme. -->
    <div class="wt-configuration__block">

        <h3>Theme</h3>

        <mat-radio-group
            formControlName="theme"
            fxLayout="row"
            fxLayoutAlign="space-around">

            <mat-radio-button
                *ngIf="shouldShowInheritOption"
                [value]="null">Inherit
            </mat-radio-button>

            <mat-radio-button [value]="Theme.Dark">Dark</mat-radio-button>
            <mat-radio-button [value]="Theme.Light">Light</mat-radio-button>

        </mat-radio-group>

        <div fxLayout="column" fxLayoutAlign="center center">

            <label for="color">Background Color</label>

            <input
                formControlName="backgroundColor"
                id="color"
                type="color">

            <button
                (click)="configurationForm.get('backgroundColor').reset()"
                mat-button
                type="button">Reset
            </button>

        </div>

    </div>

</form>
