<div fxLayout="row" fxLayoutAlign="center">
    <a href="https://wishtack.io" target="_blank">
        <wt-logo></wt-logo>
    </a>
</div>

<wt-dynamic
    [inputs]="{conferenceFilter: conferenceFilter}"
    [location]="conferenceSearchComponentLocation$ | async"
    [outputs]="{conferenceFilterChange: onConferenceFilterChange}"></wt-dynamic>

<wt-dynamic
    *ngIf="conferenceList?.length > 0"
    [inputs]="{conferenceList: conferenceList}"
    [location]="conferenceListComponentLocation$ | async"></wt-dynamic>

<section
    *ngIf="conferenceList?.length === 0">

    <img
        alt="not found"
        class="wt-not-found"
        [src]="notFoundPictureUri">

    <h1>Seems like there is no woofcoming event.</h1>

</section>
