a {

    color: rgba(0, 0, 0, .7);
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }

}

.wt-link__container {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 1.3em;
    text-align: left;
}

.wt-icon {
    margin-left: 10px;
    margin-right: 10px;
}